.subscription {
  margin-top: -116px;

  &__title {
    @include Large-Tilte362-Bold1-Light2-Default-Color1-Left-Aligned;
    color: $black-two;
  }

  &__list {
    margin-top: 28px;
  }

  &__item {
    @include Body162-Bold1-Light2-Default-Color1-Left-Aligned;
    color: $black;
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 13px;
      background: url(~@img/material-icons-black-check@3x.png) center center/cover no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__btn-wrap {
    margin-top: 31px;
  }

  &__btn {
    border-radius: 5px;
    background-color: $mid-blue;
    padding: 12px 24px 14px;
    display: inline-block;
    @include Callout172-Bold1-Light2-Default-Color1-Left-Aligned;
    color: $white-two;
    cursor: pointer;
    transition: color 0.4s, background 0.4s;

    &:hover {
      color: $white-two;
      background-color: $cornflower-blue;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 22px;
  }

  &__pic {
    width: 56.38%;
  }

  &__info {
    width: 43.62%;
    padding-left: 6.5%;
    padding-top: 173px;
    padding-bottom: 94px;
  }
}

.subscription__item+.subscription__item {
  margin-top: 8px;
}