// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$orange: #e56d1c;
$cobalt: #1c3f94;
$black: #333333;
$mid-blue: #2a56bf;
$brownish-grey: #666666;
$black-two: #000000;
$black-three: #222222;
$brown-grey: #999999;
$brown-grey-two: #b4b4b4;
$very-light-pink: #c9c9c9;
$very-light-pink-two: #dddddd;
$very-light-pink-three: #eeeeee;
$white: #f8f8f8;
$white-two: #ffffff;
$dusty-orange: #e9833f;
$cornflower-blue: #436ed6;

$mobile-padding:28px;
$container-width: 1184px; //1128px + (28*2)px